body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #282c34;
    color: white;
}

.container {
    text-align: center;
}

button {
    padding: 10px 20px;
    font-size: 1.2em;
    margin-bottom: 20px;
}

.deck {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
}

.card {
    width: 80px;
    height: 120px;
    background-size: cover;
    background-color: #3e3b37;
    background-position: center;
    border: 1px solid #333;
    border-radius: 8px;
}