*{
    color: azure;
    background-color: black;
}

p{
    font-family: "Comic Sans MS";
    color: chartreuse;
}

p{
    color: darkred;
}

h1,h2,h3{
    color: cadetblue;
    font-family: SansSerif;
}

#Bulbasaur{
    color: fuchsia;
}

